<header>
  <div class="header-container">
    <h1>Breweries</h1>
    <p>A breweries list by Open Brewery DB</p>
  </div>
</header>

<main>
  <section>
    <div class="brewery-list-container">
      <div class="brewery" *ngFor="let brewery of breweryList">
        <div class="brewery-container">
          <h1>{{brewery.name}}</h1>
          <p>{{brewery.address_1}}</p>
          <p>{{brewery.city}} <span>{{brewery.state}}</span></p>
          <p>{{brewery.country}}</p>
        </div>
        <div class="brewery-type">
          <p [ngStyle]="getBreweryStyle(brewery)">{{ brewery.brewery_type }}</p>
        </div>
      </div>

    </div>

  </section>
  <div id="button-list">
    <button (click)="changePage(page_1)" type="button" #button_1>1</button>
    <button (click)="changePage(page_2)" type="button">2</button>
    <button (click)="changePage(page_3)" type="button">3</button>
  </div>
</main>

<footer>
  <p>Breweries List</p>
</footer>