<header>
  <div class="header-container">
    <h1>Breweries</h1>
    <p>A breweries list by Open Brewery DB</p>
  </div>
</header>

<main>
  <section>
    <div class="brewery-list-container">
      <div class="brewery" *ngFor="let brewery of breweryList">
        <div class="brewery-container">
          <h1>{{brewery.name}}</h1>
          <p>{{brewery.address_1}}</p>
          <p>{{brewery.city}} <span>{{brewery.state}}</span></p>
          <p>{{brewery.country}}</p>
        </div>
        <div class="brewery-type">
          <p [ngStyle]="getBreweryStyle(brewery)">{{ brewery.brewery_type }}</p>
        </div>
      </div>

    </div>

  </section>
</main>

<footer>
  <p>Breweries List</p>
</footer>