<header>
  <div class="header-container">
    <h1>Breweries</h1>
    <p>A breweries list by Open Brewery DB</p>
  </div>
</header>

<main>
  @if (!showBreweryDetail) {
  <div id="filter">
    <p>Filter:</p>
    <div class="select-container">
      <select aria-label="filtro de tipo" (change)="onSelectChange($event)">
        <option value="0"></option>
        @for (breweryType of breweryTypeList; track $index) {
        <option value={{$index}}>{{breweryType}}</option>
        }
      </select>
    </div>
  </div>
  <section>
    <div class="brewery-list-container">
      @for (brewery of breweryList; track $index) {
      <div class="brewery">
        <div class="brewery-container" (keypress)="breweryDetail(brewery)" (click)="breweryDetail(brewery)">
          <h2>{{brewery.name}}</h2>
          <p>{{brewery.address_1}}</p>
          <p>{{brewery.city}} <span>{{brewery.state}}</span></p>
          <p>{{brewery.country}}</p>
        </div>
        <div class="brewery-type">
          <p [ngStyle]="getBreweryStyle(brewery)">{{ brewery.brewery_type }}</p>
        </div>
      </div>
      }
    </div>
  </section>
  <div id="button-list">
    <button (click)="changePage(page_1)" type="button" [ngClass]="{'isActive': activePage === 1}">1</button>
    <button (click)="changePage(page_2)" type="button" [ngClass]="{'isActive': activePage === 2}">2</button>
    <button (click)="changePage(page_3)" type="button" [ngClass]="{'isActive': activePage === 3}">3</button>
  </div>
  }@else {
  <div id="button-container">
    <button id="backButton" type="button" (click)="backToHome()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
      </svg>
      Back</button>
  </div>
  <app-brewery-detail [brewery_id]="brewery_id" />
  }

</main>




<footer>
  <p>Breweries List</p>
</footer>