@import 'variaveis';

:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    header,
    main,
    footer {
        border: 0px 0px 2px 0px;
        padding: 40px 20px 40px 20px;
    }

    header {
        display: flex;
        justify-content: center;
        background-image: $linear;
        color: white;

        .header-container {
            width: 100%;
            max-width: 1080px;
        }
    }



    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fffdfd;
        width: 100%;
        align-items: center;
        gap: 1rem;
        padding-bottom: 10px;
        padding-top: 10px;

        #filter{
            width: 100%;
            display: flex;
            gap: 1rem;
            max-width: 1080px;

            p{
                font-weight: 500;
            }

            .select-container{

                position: relative;
                display: inline-block;

                select {
                    -webkit-appearance: none;
                    /* Remove a seta padrão no Chrome e Safari */
                    -moz-appearance: none;
                    /* Remove a seta padrão no Firefox */
                    appearance: none;
                    /* Remove a seta padrão em outros navegadores */
                    width: 100px;
                    padding: 5px 10px;
                    border-radius: 3px;
                    border: 2px solid lightgrey;
                }

            }
            .select-container::after {
                content: '\25BD';
                /* Pode trocar o conteúdo para outro símbolo ou imagem */
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
                color: #4985EC;
                /* Cor da seta */
            }

        }

        section {
            width: 100%;
            max-width: 1080px;

            .brewery-list-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 1.5rem;

                .brewery {
                    display: flex;
                    flex-direction: column;
                    gap: 0.1rem;
                    box-shadow: 0px 7px 16px 0px rgba(201, 211, 206, 0.56);
                    background-color: #ede6e6;

                    .brewery-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        padding: 10px 15px;
                        flex-shrink: 1;
                        flex-grow: 1;
                        height: 280px;
                        width: 250px;
                        border-radius: 2px;
                        border: 1.5px solid transparent;
                        background-color: white;
                        cursor: pointer;

                        h2 {
                            margin: 20px 0;
                            font-weight: 500;
                            color: #2c2c2c
                        }
                        p {
                            margin: 2px 0;
                            color: #2c2c2c;
                            font-size: 90%;
                        }

                    }

                    .brewery-type {
                        width: 250px;
                        height: 35px;
                        border-radius: 1px;
                        border: 1.5px solid transparent;
                        background-color: white;
                        padding: 4px 15px;
                        font-size: 1.2rem;

                        p {
                            display: inline-block;
                            padding: 5px 7px;
                            border-radius: 4px;
                            font-size: 75%;
                        }
                    }
                }
            }

        }

        #button-list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 4px;
                border: 1px solid lightgray;
                background-color: white;
            }

            button:focus {
                background-color: #2c2c2c;
                color: white;
            }

        }
    }

    #button-container{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 1080px;
    }

    #backButton{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border: none;
        cursor: pointer;

    }


    footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: $cor-footer;
    }
}