<div class="brewery-container">
    <h2>{{breweryDetail.name}}</h2>
    <p>Type: {{breweryDetail.brewery_type}}</p>
    <p>Street: {{breweryDetail.street}}</p>
    <p>City:{{breweryDetail.city}}</p>
    <p>State: {{breweryDetail.state}}</p>
    <p>Postal code: {{breweryDetail.postal_code}}</p>
    <p>Country: {{breweryDetail.country}}</p>
    <p>Website: <a href={{breweryDetail.website_url}}>{{breweryDetail.website_url}}</a></p>
    <p>Phone: {{breweryDetail.phone}}</p>
    <p>Open in Maps:
        <button type="button" (click)="openGoogleMaps(breweryDetail.latitude, breweryDetail.longitude)">
            {{breweryDetail.latitude}}, {{breweryDetail.longitude}}
        </button>
    </p>
</div>